@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IranSans";
    src: url("/fonts/iranSansRegular.ttf");
  }

  @font-face {
    font-family: "IranSansBold";
    src: url("/fonts/iranSansBold.ttf");
  }
  @font-face {
    font-family: "LobsterBold";
    src: url("/fonts/LobsterTwo-Bold.ttf");
  }
  @font-face {
    font-family: "IranSansNum";
    src: url("/fonts/fanum.ttf");
  }
}

body {
  height: var(--vh, 100vh);
  font-family: "IranSansBold";
  padding: 0;
}
.no-select {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
}